<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/">YouthHostel</a>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">


        <ng-container *ngIf="!isLoggedIn()">
          <li class="nav-item">
            <a class="nav-link" routerLink="/" >Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>
          </li>
        </ng-container>

        <ng-container *ngIf="isLoggedIn()">
          <li class="nav-item">
            <a class="nav-link">{{ getUsername() }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/rooms" routerLinkActive="active">Chambres</a>
          </li>
          <li class="nav-item" *ngIf="!isStaff() && !isAdmin()" >
            <a class="nav-link" routerLink="/my-bookings" routerLinkActive="active">Mes réservations</a>
          </li>
          <li class="nav-item" *ngIf="isAdmin()">
            <a class="nav-link" routerLink="/users" routerLinkActive="active">Gestion Utilisateurs</a>
          </li>
          <li class="nav-item" *ngIf="isStaff()">
            <a class="nav-link" routerLink="/admin/bookings" routerLinkActive="active">Gestion des réservations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" (click)="onLogout()">Logout</a>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</nav>
